@import "~susy/sass/susy";
@import "susy";

// Layout sizes

$wrapper: 994px;
$wrapperAdvertisement: 1364px;

// Device sizes

$phone: 319px;
$phablet: 480px;
$tablet: 800px;
$laptop: $wrapper;
$desktop: $wrapperAdvertisement;

// Phone breakpoints

@mixin phone-and-smaller {
  @media (max-width: $phone) {
    @content;
  }
}

@mixin phone-and-bigger {
  @include susy-breakpoint($phone, $susy) {
    @content;
  }
}

// Phablet breakpoints

@mixin phablet-and-smaller {
  @media (max-width: $phablet) {
    @content;
  }
}

@mixin phablet-and-bigger {
  @include susy-breakpoint($phablet, $susy) {
    @content;
  }
}

// Tablet breakpoints

@mixin tablet-and-smaller {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-and-bigger {
  @include susy-breakpoint($tablet, $susy) {
    @content;
  }
}

// Laptop breakpoints

@mixin laptop-and-smaller {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin laptop-and-bigger {
  @include susy-breakpoint($laptop, $susy) {
    @content;
  }
}

// Desktop breakpoints

@mixin desktop-and-smaller {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin desktop-and-bigger {
  @include susy-breakpoint($desktop, $susy) {
    @content;
  }
}

// Small height media query

@mixin short-device {
  @media (max-height: $phone) {
    @content;
  }
}
