@import "../../styles/main";

.button {
  border-radius: $border-radius-s;
  line-height: $size-m;
  border: none;
  padding: 0;
  margin: 0;
  // @include clearfix;
  transition: all $transition-m;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled,
  &:disabled:hover {
    background-color: $greyscale-80 !important;
  }

  &.noRounded {
    border-radius: 0;
  }

  :global .svg-sprite {
    width: $size-m;
    height: $size-m;
    margin-right: $size-xxs;
    flex: 0 0 auto;
    align-self: center; // Required for Safari 9.1
  }
}

.left {
  float: left;
  margin-right: $size-m;
}

.right {
  float: right;
  margin-left: $size-m;
}

.responsive {
  width: 100%;

  @include phablet-and-bigger {
    width: auto;
  }
}

.spinner {
  // @include center;
  margin-right: $size-xs;
  line-height: 1;
  display: block;
}

.textLoading {
  visibility: hidden;
}

// SIZE

.button.small {
  line-height: $size-m;
  padding: 0 $size-s;

  height: $size-xl;

  .icon {
    height: $size-xl;
    line-height: $size-m;
  }

  .icon:first-child {
    margin-right: $size-xxs;
  }

  .icon:last-child {
    margin-right: 0;
    margin-left: $size-xxs;
  }

  .icon:only-child {
    margin: 0;
  }
}

.button.medium {
  line-height: $size-m;
  padding: 0 $size-m;

  height: $size-xxl;

  .icon {
    height: $size-xxl;
    line-height: $size-m;
  }

  .icon:first-child {
    margin-right: $size-xs;
  }

  .icon:last-child {
    margin-right: 0;
    margin-left: $size-xs;
  }

  .icon:only-child {
    margin: 0;
  }
}

.button.large {
  line-height: $size-m;
  padding: 0 $size-l;

  height: $size-xxxl;

  .icon {
    height: $size-xxxl;
    line-height: $size-m;
  }

  .icon:first-child {
    margin-right: $size-s;
  }

  .icon:last-child {
    margin-right: 0;
    margin-left: $size-s;
  }

  .icon:only-child {
    margin: 0;
  }
}

// ROLE

.button.primary {
  background-color: $green-50;
  color: $greyscale-100;

  &:hover {
    background-color: $green-60;
  }
}

.button.secondary {
  background-color: $blue-50;
  color: $greyscale-100;

  &:hover {
    background-color: $blue-60;
  }
}

.button.tertiary {
  background-color: $greyscale-100;
  box-shadow: inset 0 0 0 1px $greyscale-60;
  color: $greyscale-40;

  &:hover {
    background-color: $greyscale-90;
  }
}

.button.primary.warning {
  background-color: $red-50;
  color: $greyscale-100;

  &.buttonLoading:hover,
  &.buttonLoading {
    background-color: $red-80;
  }

  &:hover {
    background-color: $red-60;
  }
}

.button.secondary.warning {
  background-color: $greyscale-100;
  box-shadow: inset 0 0 0 1px $red-50;
  color: $red-50;

  &.buttonLoading:hover,
  &.buttonLoading {
    background-color: $orange-80;
  }

  &:hover {
    background-color: $orange-60;
  }
}

.button.input {
  background-color: $blue-50;
  color: $greyscale-100;

  &.buttonLoading:hover,
  &.buttonLoading {
    background-color: $blue-80;
  }

  &:hover {
    background-color: $blue-60;
  }
}

.button.primary.promote {
  background-color: $orange-50;
  color: $greyscale-100;

  &.buttonLoading:hover,
  &.buttonLoading {
    background-color: $orange-80;
  }

  &:hover {
    background-color: $orange-60;
  }
}

.fullWidth {
  width: 100%;
  text-align: center;

  .text {
    float: none;
    // @include textTruncate;
  }
}

.button.secondary.promote {
  background-color: $greyscale-100;
  box-shadow: inset 0 0 0 1px $orange-50;
  color: $orange-50;

  &:hover {
    background-color: $orange-50;
    color: $greyscale-100;
  }
}

.spinner {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.spinner + .text {
  visibility: hidden;
}
