@import "../../styles/Colors/_colors";
@import "../../styles/Sizes/_sizes";
@import "../../styles/Motion/_transitions";
@import "../../styles/Borders/_borders";
@import "../../styles/Shadows/_shadows";

.wrapper {
  position: relative;
  outline: none;

  .label {
    color: $greyscale-60;
  }

  &:not(.inline) {
    .label {
      transition: all $transition-m;
      left: $size-xs;
    }

    &.hasValue .label {
      font-size: $size-s;
      top: -$size-m;
      left: 0;
    }
  }

  .wrapperInner {
    border: $border-default;
    background: $greyscale-100;
    height: $size-xxxl;
    line-height: $size-xxxl;
    position: relative;
    text-align: left;
    padding: 0 $size-xs;
    cursor: pointer;

    &:focus {
      border-color: $greyscale-00;
      outline: none;
    }

    .options {
      background: $greyscale-100;
      position: absolute;
      margin-top: -2px;
      margin-bottom: 4rem; // When the options hit the bottom of page, this gives a bit of space
      top: 100%;
      right: -1px;
      left: -1px;
      opacity: 0;
      max-height: 0;
      visibility: hidden;
      overflow: auto;
      @include mediumShadow();
      border: $border-default;
      user-select: none;

      // Keep the style separated for the placeholder option
      .option {
        border-bottom: 1px solid $greyscale-95;
        padding: 0 $size-xs;

        &:hover,
        &.highlighted {
          background-color: $blue-95;
        }

        &.selected {
          font-weight: bold;
        }
      }
    }

    .ph {
      &:after {
        content: "";
        border-color: $greyscale-80 transparent transparent;
        border-style: solid;
        border-width: 0.4rem 0.4rem 0.2rem;
        display: inline-block;
        height: 0;
        width: 0;
        transition: all $transition-m;
        right: $size-xs;
        margin-top: 0.2rem;
      }

      .option {
        padding-right: $size-xs;
      }
    }

    .option {
      display: flex;
      align-items: center;
    }
  }

  .icon {
    margin-right: $size-xs;
    width: $size-xl;
    height: $size-xl;
  }

  // When the select box is open or is hover make the border black
  &.is-open .options,
  &.is-open .wrapperInner,
  &:not(.disabled):not(.inline):hover .wrapperInner {
    border-color: $greyscale-00;
  }

  &.is-open {
    .options {
      max-height: 320px;
      opacity: 1;
      visibility: visible;
    }

    &:not(.inline) {
      border-top-color: $greyscale-80;
    }
  }

  &:not(.disabled):hover .ph:after,
  &.is-open .ph:after {
    border-color: $greyscale-00 transparent transparent;
  }

  &.disabled {
    .wrapperInner {
      cursor: default;
      background: $greyscale-95;
      color: $greyscale-60;
    }

    .icon {
      opacity: 0.6;
    }
  }

  // Styles only for inline
  &.inline {
    &,
    .label,
    .wrapperInner {
      display: inline-block;
    }

    .wrapperInner {
      border: 1px solid transparent;
      display: inline-block;
      background-color: transparent;
      height: auto;
      line-height: inherit;

      .options .option {
        line-height: $size-xxxl;
        height: $size-xxxl;
      }
    }

    .ph:after {
      right: 0;
    }

    .options {
      left: auto;
      margin-top: $size-m;
      min-width: 250px;
      max-height: 320px;
    }
  }
}

// Style for inputs props.size='small'
.small {
  padding-top: 0;
  padding-bottom: $size-xl;

  .errorMessage {
    top: $size-xxxl;
    line-height: $size-m;
  }
  .label {
    top: 80 / 2;
  }

  .input:focus ~ .label,
  .label.filled {
    font-size: $size-s;
    top: - $size-s;
    left: 0;
  }
}
