/* Roboto-Light - latin */
@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("./Roboto-Light.ttf") format("ttf");
}

/* Roboto-Regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("./Roboto-Regular.ttf") format("ttf");
}

/* Roboto-Medium - latin */
@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("./Roboto-Medium.ttf") format("ttf");
}
