@font-face {
	font-family: "TuttiFont";
	src: url("TuttiFont.eot?70db30db5d6ba945a453888513091640?#iefix") format("embedded-opentype"),
url("TuttiFont.woff2?70db30db5d6ba945a453888513091640") format("woff2"),
url("TuttiFont.woff?70db30db5d6ba945a453888513091640") format("woff");
}

.ico {
	line-height: 1;
}

.ico:before {
	font-family: TuttiFont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.ico-canton-aargau:before {
	content: "\f101";
}
.ico-canton-appenzell:before {
	content: "\f102";
}
.ico-canton-basel:before {
	content: "\f103";
}
.ico-canton-bern:before {
	content: "\f104";
}
.ico-canton-freiburg:before {
	content: "\f105";
}
.ico-canton-genf:before {
	content: "\f106";
}
.ico-canton-glarus:before {
	content: "\f107";
}
.ico-canton-graubunden:before {
	content: "\f108";
}
.ico-canton-jura:before {
	content: "\f109";
}
.ico-canton-liechtenstein:before {
	content: "\f10a";
}
.ico-canton-luzern:before {
	content: "\f10b";
}
.ico-canton-neuenburg:before {
	content: "\f10c";
}
.ico-canton-niedobwalden:before {
	content: "\f10d";
}
.ico-canton-schaffhausen:before {
	content: "\f10e";
}
.ico-canton-schwyz:before {
	content: "\f10f";
}
.ico-canton-solothurn:before {
	content: "\f110";
}
.ico-canton-stgallen:before {
	content: "\f111";
}
.ico-canton-tessin:before {
	content: "\f112";
}
.ico-canton-thurgau:before {
	content: "\f113";
}
.ico-canton-uri:before {
	content: "\f114";
}
.ico-canton-waadt:before {
	content: "\f115";
}
.ico-canton-wallis:before {
	content: "\f116";
}
.ico-canton-zug:before {
	content: "\f117";
}
.ico-canton-zurich:before {
	content: "\f118";
}
.ico-antiquitaten:before {
	content: "\f119";
}
.ico-baby:before {
	content: "\f11a";
}
.ico-buecher:before {
	content: "\f11b";
}
.ico-buro:before {
	content: "\f11c";
}
.ico-computer:before {
	content: "\f11d";
}
.ico-fahrzeuge:before {
	content: "\f11e";
}
.ico-filme:before {
	content: "\f11f";
}
.ico-foto:before {
	content: "\f120";
}
.ico-free:before {
	content: "\f121";
}
.ico-garten:before {
	content: "\f122";
}
.ico-haushalt:before {
	content: "\f123";
}
.ico-immobilien:before {
	content: "\f124";
}
.ico-kleidung:before {
	content: "\f125";
}
.ico-musik:before {
	content: "\f126";
}
.ico-sammeln:before {
	content: "\f127";
}
.ico-sonstiges:before {
	content: "\f128";
}
.ico-spielzeuge:before {
	content: "\f129";
}
.ico-sport:before {
	content: "\f12a";
}
.ico-stellen:before {
	content: "\f12b";
}
.ico-telefon:before {
	content: "\f12c";
}
.ico-tickets:before {
	content: "\f12d";
}
.ico-tiere:before {
	content: "\f12e";
}
.ico-tv:before {
	content: "\f12f";
}
.ico-arrow-link:before {
	content: "\f130";
}
.ico-call:before {
	content: "\f131";
}
.ico-categories:before {
	content: "\f132";
}
.ico-clock:before {
	content: "\f133";
}
.ico-close-tags:before {
	content: "\f134";
}
.ico-close:before {
	content: "\f135";
}
.ico-date-down:before {
	content: "\f136";
}
.ico-date-up:before {
	content: "\f137";
}
.ico-dropdown:before {
	content: "\f138";
}
.ico-email:before {
	content: "\f139";
}
.ico-error:before {
	content: "\f13a";
}
.ico-eye:before {
	content: "\f13b";
}
.ico-filter-off:before {
	content: "\f13c";
}
.ico-filter-on:before {
	content: "\f13d";
}
.ico-firma:before {
	content: "\f13e";
}
.ico-garbage:before {
	content: "\f13f";
}
.ico-gear:before {
	content: "\f140";
}
.ico-house:before {
	content: "\f141";
}
.ico-infinite:before {
	content: "\f142";
}
.ico-info:before {
	content: "\f143";
}
.ico-insert-ad:before {
	content: "\f144";
}
.ico-insert-image:before {
	content: "\f145";
}
.ico-logout:before {
	content: "\f146";
}
.ico-my-ads:before {
	content: "\f147";
}
.ico-next:before {
	content: "\f148";
}
.ico-pause-circle:before {
	content: "\f149";
}
.ico-pause:before {
	content: "\f14a";
}
.ico-pencil:before {
	content: "\f14b";
}
.ico-pin:before {
	content: "\f14c";
}
.ico-play:before {
	content: "\f14d";
}
.ico-prev:before {
	content: "\f14e";
}
.ico-price-down:before {
	content: "\f14f";
}
.ico-price-up:before {
	content: "\f150";
}
.ico-printer:before {
	content: "\f151";
}
.ico-privat:before {
	content: "\f152";
}
.ico-reset:before {
	content: "\f153";
}
.ico-rotate:before {
	content: "\f154";
}
.ico-rss:before {
	content: "\f155";
}
.ico-saved-searches:before {
	content: "\f156";
}
.ico-savedSearches-off-add:before {
	content: "\f157";
}
.ico-search:before {
	content: "\f158";
}
.ico-select:before {
	content: "\f159";
}
.ico-share-ios:before {
	content: "\f15a";
}
.ico-share:before {
	content: "\f15b";
}
.ico-shield:before {
	content: "\f15c";
}
.ico-sms:before {
	content: "\f15d";
}
.ico-sort-by_date-down:before {
	content: "\f15e";
}
.ico-sort-by_date-up:before {
	content: "\f15f";
}
.ico-sort-by_price-down:before {
	content: "\f160";
}
.ico-sort-by_price-up:before {
	content: "\f161";
}
.ico-star:before {
	content: "\f162";
}
.ico-tick-circle:before {
	content: "\f163";
}
.ico-tick-empty:before {
	content: "\f164";
}
.ico-tick-solid:before {
	content: "\f165";
}
.ico-tick:before {
	content: "\f166";
}
.ico-user:before {
	content: "\f167";
}
.ico-view-big:before {
	content: "\f168";
}
.ico-view-list:before {
	content: "\f169";
}
.ico-warning:before {
	content: "\f16a";
}
.ico-bump:before {
	content: "\f16b";
}
.ico-combo:before {
	content: "\f16c";
}
.ico-gallery:before {
	content: "\f16d";
}
.ico-highlight:before {
	content: "\f16e";
}
.ico-sell-faster:before {
	content: "\f16f";
}
.ico-facebook:before {
	content: "\f170";
}
.ico-google-plus:before {
	content: "\f171";
}
.ico-instagram:before {
	content: "\f172";
}
.ico-share-facebook:before {
	content: "\f173";
}
.ico-share-messenger:before {
	content: "\f174";
}
.ico-share-whatsapp:before {
	content: "\f175";
}
.ico-social-facebook:before {
	content: "\f176";
}
.ico-social-gplus:before {
	content: "\f177";
}
.ico-social-instagram:before {
	content: "\f178";
}
.ico-social-rss:before {
	content: "\f179";
}
.ico-social-twitter:before {
	content: "\f17a";
}
.ico-social-youtube:before {
	content: "\f17b";
}
.ico-twitter:before {
	content: "\f17c";
}
.ico-youtube:before {
	content: "\f17d";
}
.ico-badge:before {
	content: "\f17e";
}
.ico-ticino_map:before {
	content: "\f17f";
}
.ico-tuttilino-error:before {
	content: "\f180";
}
.ico-tuttilino-hey:before {
	content: "\f181";
}
.ico-TuttiFont:before {
	content: "\f182";
}
