@font-face {
	font-family: "TuttiFont";
	src: url("TuttiFont.eot?4d3e79f1ebb772e6fdf47c1734bb06e2?#iefix") format("embedded-opentype"),
url("TuttiFont.woff2?4d3e79f1ebb772e6fdf47c1734bb06e2") format("woff2"),
url("TuttiFont.woff?4d3e79f1ebb772e6fdf47c1734bb06e2") format("woff");
}

.ico {
	line-height: 1;
}

.ico:before {
	font-family: TuttiFont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.ico-arrow-link:before {
	content: "\f101";
}
.ico-call:before {
	content: "\f102";
}
.ico-categories:before {
	content: "\f103";
}
.ico-clock:before {
	content: "\f104";
}
.ico-close-tags:before {
	content: "\f105";
}
.ico-close:before {
	content: "\f106";
}
.ico-date-down:before {
	content: "\f107";
}
.ico-date-up:before {
	content: "\f108";
}
.ico-dropdown:before {
	content: "\f109";
}
.ico-email:before {
	content: "\f10a";
}
.ico-error:before {
	content: "\f10b";
}
.ico-eye:before {
	content: "\f10c";
}
.ico-filter-off:before {
	content: "\f10d";
}
.ico-filter-on:before {
	content: "\f10e";
}
.ico-firma:before {
	content: "\f10f";
}
.ico-garbage:before {
	content: "\f110";
}
.ico-gear:before {
	content: "\f111";
}
.ico-house:before {
	content: "\f112";
}
.ico-infinite:before {
	content: "\f113";
}
.ico-info:before {
	content: "\f114";
}
.ico-insert-ad:before {
	content: "\f115";
}
.ico-insert-image:before {
	content: "\f116";
}
.ico-logout:before {
	content: "\f117";
}
.ico-my-ads:before {
	content: "\f118";
}
.ico-next:before {
	content: "\f119";
}
.ico-pause-circle:before {
	content: "\f11a";
}
.ico-pause:before {
	content: "\f11b";
}
.ico-pencil:before {
	content: "\f11c";
}
.ico-pin:before {
	content: "\f11d";
}
.ico-play:before {
	content: "\f11e";
}
.ico-plus:before {
	content: "\f11f";
}
.ico-prev:before {
	content: "\f120";
}
.ico-price-down:before {
	content: "\f121";
}
.ico-price-up:before {
	content: "\f122";
}
.ico-printer:before {
	content: "\f123";
}
.ico-privat:before {
	content: "\f124";
}
.ico-pro:before {
	content: "\f125";
}
.ico-reset:before {
	content: "\f126";
}
.ico-rotate:before {
	content: "\f127";
}
.ico-rss:before {
	content: "\f128";
}
.ico-saved-searches:before {
	content: "\f129";
}
.ico-savedSearches-off-add:before {
	content: "\f12a";
}
.ico-search:before {
	content: "\f12b";
}
.ico-select:before {
	content: "\f12c";
}
.ico-share-ios:before {
	content: "\f12d";
}
.ico-share:before {
	content: "\f12e";
}
.ico-shield:before {
	content: "\f12f";
}
.ico-sms:before {
	content: "\f130";
}
.ico-sort-by_date-down:before {
	content: "\f131";
}
.ico-sort-by_date-up:before {
	content: "\f132";
}
.ico-sort-by_price-down:before {
	content: "\f133";
}
.ico-sort-by_price-up:before {
	content: "\f134";
}
.ico-star:before {
	content: "\f135";
}
.ico-tick-circle:before {
	content: "\f136";
}
.ico-tick-empty:before {
	content: "\f137";
}
.ico-tick-solid:before {
	content: "\f138";
}
.ico-tick:before {
	content: "\f139";
}
.ico-user:before {
	content: "\f13a";
}
.ico-view-big:before {
	content: "\f13b";
}
.ico-view-list:before {
	content: "\f13c";
}
.ico-warning:before {
	content: "\f13d";
}
.ico-bump:before {
	content: "\f13e";
}
.ico-combo:before {
	content: "\f13f";
}
.ico-gallery:before {
	content: "\f140";
}
.ico-highlight:before {
	content: "\f141";
}
.ico-sell-faster:before {
	content: "\f142";
}
.ico-facebook:before {
	content: "\f143";
}
.ico-google-plus:before {
	content: "\f144";
}
.ico-instagram:before {
	content: "\f145";
}
.ico-share-facebook:before {
	content: "\f146";
}
.ico-share-messenger:before {
	content: "\f147";
}
.ico-share-whatsapp:before {
	content: "\f148";
}
.ico-social-facebook:before {
	content: "\f149";
}
.ico-social-gplus:before {
	content: "\f14a";
}
.ico-social-instagram:before {
	content: "\f14b";
}
.ico-social-rss:before {
	content: "\f14c";
}
.ico-social-twitter:before {
	content: "\f14d";
}
.ico-social-youtube:before {
	content: "\f14e";
}
.ico-twitter:before {
	content: "\f14f";
}
.ico-youtube:before {
	content: "\f150";
}
.ico-redFridayMyadsDE:before {
	content: "\f151";
}
.ico-redFridayMyadsFR:before {
	content: "\f152";
}
.ico-redFridayMyadsIT:before {
	content: "\f153";
}
.ico-redFridaypaint:before {
	content: "\f154";
}
.ico-redFridaypig:before {
	content: "\f155";
}
.ico-preimumBump:before {
	content: "\f156";
}
.ico-premiumCombo:before {
	content: "\f157";
}
.ico-premiumGallery:before {
	content: "\f158";
}
.ico-premiumHighlight:before {
	content: "\f159";
}
.ico-abo1:before {
	content: "\f15a";
}
.ico-abo2:before {
	content: "\f15b";
}
.ico-abo3:before {
	content: "\f15c";
}
.ico-abo4:before {
	content: "\f15d";
}
.ico-abo5:before {
	content: "\f15e";
}
.ico-advantage1Logo:before {
	content: "\f15f";
}
.ico-advantage2Website:before {
	content: "\f160";
}
.ico-advantage3Billing:before {
	content: "\f161";
}
.ico-badge:before {
	content: "\f162";
}
.ico-ticino_map:before {
	content: "\f163";
}
.ico-tuttolina-smile:before {
	content: "\f164";
}
.ico-tuttolino-error:before {
	content: "\f165";
}
.ico-tuttolino-family:before {
	content: "\f166";
}
.ico-tuttolino-gay:before {
	content: "\f167";
}
.ico-tuttolino-glasses:before {
	content: "\f168";
}
.ico-tuttolino-hey:before {
	content: "\f169";
}
.ico-tuttolino-intro-screens:before {
	content: "\f16a";
}
.ico-tuttolino-sergi:before {
	content: "\f16b";
}
.ico-tuttolino-success:before {
	content: "\f16c";
}
.ico-tuttolino-tablet:before {
	content: "\f16d";
}
.ico-pushNotifications:before {
	content: "\f16e";
}
.ico-websiteIntro:before {
	content: "\f16f";
}
