@import 'main';

.wrapper {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.BoxItemWrapper {
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $size-l 0;

  .label {
    margin-left: $size-m;
  }
}

.card {
  flex: 0 1 auto;
  height: $size-xxxl * 3;
  position: relative;
  margin-right: 1.66%;
  margin-bottom: 1.75%;
  width: $size-xxxl * 3;
  border: 1px solid $greyscale-90;
  background: $greyscale-100;

  .inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .desc {
    box-sizing: border-box;
    border-top: 1px solid $greyscale-90;
    background-color: $greyscale-100;
    padding: $size-xxs;
    font-size: $size-xs;
    text-align: center;
    flex: 0 0 auto;
  }
}
