@import "./main";

.block {
  border: 1px solid $greyscale-90;
  margin-bottom: $size-xl;
}

.row {
  display: flex;
  align-items: center;
  line-height: $size-xxxl + $size-xs;
  border-bottom: 1px solid $greyscale-90;
  padding: 0 $size-m;

  &:last-child {
    border-bottom: none;
  }
}

.label {
  flex: 0 0 auto;
  width: 30%;
}

.value {
  flex: 1 1 auto;
  width: 40%;
  color: $greyscale-60;
}

body {
  font-family: "Roboto", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif !important;

  a {
    font-family: "Roboto", sans-serif !important;
  }
}

p {
  color: $greyscale-30 !important;
}

.regularTypography {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
}

h2 {
  margin-top: 80px !important;
}

h3 {
  margin-top: 40px !important;
}

.typographySection h1,
.typographySection h2,
.typographySection h3,
.typographySection h4,
.typographySection h5,
.typographySection h6 {
  margin: $size-m 0 !important;
}
