@import "../../styles/main";

.logo {
  display: flex;
  align-items: center;
  height: 2.2rem;
  width: 10rem;
  @include z-index("overlay", "ground");

  .symbolBox {
    position: relative;
    margin-right: $size-xxs;
    display: flex;
    align-items: center;

    .symbolSquare {
      height: 2.6rem;
      transform-origin: 1.8rem 1.8rem;
      transition: $transition-m;
    }

    .symbolT {
      position: absolute;
      bottom: 0.1rem;
      height: 1.8rem;
      left: 0.7rem;
    }
  }

  .font {
    height: 1.6rem;
    margin-top: 0.1rem;
  }

  &:hover {
    .symbolSquare {
      cursor: pointer;
      transform: rotate(-15deg);
      opacity: 0.8;
    }

    .font {
      opacity: 0.9;
    }
  }
}

.fallback {
  display: none;
}

@include ifInternetExplorer {
  .logo {
    width: auto;
  }

  .symbolBox,
  .font {
    display: none !important;
  }

  .fallback {
    display: flex;
  }
}
