// Spacers

$size-xxxs: 0.25rem; //4px
$size-xxs: 0.5rem; //8px
$size-xs: 0.75rem; //12px
$size-s: 0.875rem; // 14px
$size-m: 1rem; //16px
$size-ml: 1.25rem; // 20px
$size-l: 1.5rem; //24px
$size-xl: 2rem; //32px
$size-xxl: 2.5rem; //40px
$size-xxxl: 3rem; //48px

$sizes: (
  'xxxs': $size-xxxs,
  'xxs': $size-xxs,
  'xs': $size-xs,
  's': $size-s,
  'm': $size-m,
  'ml': $size-ml,
  'l': $size-l,
  'xl': $size-xl,
  'xxl': $size-xxl,
  'xxxl': $size-xxxl
)