@import "~susy/sass/susy";
@import "../../styles/main";

@mixin palette($colorMap, $name) {
  @each $shade, $color in $colorMap {
    .#{$name}-#{$shade} {
      background-color: #{$color};
    }
  }
}

.color {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

@include palette($greyscale, "greyscale");
@include palette($orange, "orange");
@include palette($blue, "blue");
@include palette($green, "green");
@include palette($yellow, "yellow");
@include palette($red, "red");
