@import "../../../styles/main.scss";

.stepperContainer {
  display: flex;
  border: 1px solid $greyscale-90;
  position: relative;
  width: 100%;
  border-radius: $border-radius-s;

  .increase {
    border-radius: 0 $border-radius-s $border-radius-s 0;
  }

  .decrease {
    border-radius: $border-radius-s 0 0 $border-radius-s;
  }

  .decrease,
  .increase {
    border: 0;
    width: 3rem;
    font-size: $size-l;
    font-weight: normal;
    color: $greyscale-20;
    @include z-index("content", "ground");
    background: $greyscale-100;
    z-index: 10;
    flex: 1 0 auto;

    &:hover {
      background-color: $base-40;
      color: $greyscale-100;
      transition: $transition-m;
    }
  }

  input[type="text"].input {
    border: 0;
    border-right: 1px solid $greyscale-90;
    border-left: 1px solid $greyscale-90;
    text-align: center;
    margin: $size-xxxs 0;
    line-height: $size-xxl;
    min-height: $size-xxl;
    flex: 1 1 auto;
    min-width: 0;
    border-radius: 0;
  }
}

.ownLabel {
  position: absolute;
  top: -$size-ml;
  left: 0;
  color: $greyscale-60;
  font-size: $size-s;
}
