@import "../../../styles/main.scss";

.stepperContainer {
  display: flex;
  border: 1px solid $greyscale-90;
  position: relative;
  width: 100%;

  .decrease,
  .increase {
    border: 0;
    width: 100%;
    max-width: 3rem;
    font-size: $size-l;
    font-weight: normal;
    color: $greyscale-20;
    @include z-index("ground", "first");
    background: $greyscale-100;

    &:hover {
      background-color: $base-40;
      color: $greyscale-100;
      transition: $transition-m;
    }
  }

  input[type="text"].input {
    border: 0;
    border-right: 1px solid $greyscale-90;
    border-left: 1px solid $greyscale-90;
    text-align: center;
    margin: $size-xxxs 0;
    line-height: $size-xxl;
    min-height: $size-xxl;
  }
}

.ownLabel {
  position: absolute;
  top: -$size-ml;
  left: 0;
  color: $greyscale-60;
  font-size: $size-s;
}
