@import "main";

table {
  margin: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  @include tablet-and-bigger {
    background: $greyscale-100; // Needed to fill empty cells in two column layout
  }
}

caption {
  padding-bottom: $size-m;
  text-align: left;
  font-size: $size-ml;
}

th,
td {
  border: 1px solid $greyscale-90;
  padding: $size-l;
}

th {
  font-weight: bold;
  text-align: center;
}

@include phablet-and-smaller {
  table,
  thead,
  tbody,
  tfoot,
  tr,
  caption {
    display: block;
  }

  td,
  th {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: none;
  }

  tr:first-child {
    td:first-child,
    th:first-child {
      border-top: 1px solid $greyscale-90;
    }
  }

  tbody + tfoot tr:first-child td:first-child,
  thead + tbody tr:first-child td:first-child {
    border-top: none;
  }
}
