@import "../Colors/colors";

@mixin mediumShadow {
  box-shadow: 0 3px 5px 0 transparentize($greyscale-00, 0.85);
}

@mixin lightShadow {
  box-shadow: 0 2px 5px 0 transparentize($greyscale-00, 0.95);
}

@mixin mediumShadowTop {
  box-shadow: 0 -3px 5px 0 transparentize($greyscale-00, 0.85);
}

@mixin lightShadowTop {
  box-shadow: 0 -2px 5px 0 transparentize($greyscale-00, 0.95);
}
