@import "../main";

.shadowSample {
  width: 10rem;
  height: 5rem;
  background: $blue-60;
}

.shadowS {
  @include lightShadow;
}

.shadowM {
  @include mediumShadow;
}

.shadowTopS {
  @include lightShadowTop;
}

.shadowTopM {
  @include mediumShadowTop;
}
