@import "../../styles/main";

.image-wrapper {
  display: inline-block;
}

.image {
  display: inline-block;
}

.error {
  font-size: $size-xl;
  color: $greyscale-60;
}

.cube {
  fill: $greyscale-60;
  width: 100%;
  height: 100%;
}
